backups/Autogenerate ideas for posts and small projects.json
{
  "active": true,
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-12T16:02:44.364Z",
  "id": "3",
  "name": "Autogenerate ideas for posts and small projects",
  "nodes": [
    {
      "parameters": {
        "chatId": "-1001931064142",
        "text": "={{ $json.message.content }}",
        "additionalFields": {}
      },
      "id": "3e14e2b1-9194-4465-8b51-9019e98a12fa",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "As an AI assistant please generate a topic of 5 ideas for Linkedin post OR for ideas that AI may be quickly and efficiently be used as a small but really useful product!"
            }
          ]
        },
        "options": {}
      },
      "id": "26859746-088c-4675-bdbe-63d757454ab5",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "assistant",
              "content": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ecf659b9-640c-4fb4-819d-3750179d3fde",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1060,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "85261d0b-ec2b-4d8b-9795-7125ae25b78c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "7"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-05-12T16:23:21.000Z",
  "versionId": "f98fb9af-1dc1-4c44-aa8c-4a11f31b0131"
}