backups/Generate prompt to create inst post.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-12T16:24:12.425Z",
  "id": "8",
  "name": "Generate prompt to create inst post",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "f096b9ef-e1d5-4df2-89d9-d6d5c2cfedd9",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "generate prompt for gpt 3.5 that it create instagram post about IT, development, https://cherrypick.agency, MVP and so on. One or multiple topics at a time"
            }
          ]
        },
        "options": {}
      },
      "id": "f774ca01-b1f2-4f7b-a751-45be156e6772",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "assistant",
              "content": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a07ec9dc-cf94-49d5-af21-124b081f5340",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1140,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "assistant",
              "content": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "94f86847-3606-4d4e-865e-de57bc17da6b",
      "name": "OpenAI1",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1360,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.message.content }}",
        "responseFormat": "imageUrl",
        "options": {
          "size": "1024x1024"
        }
      },
      "id": "e28575d7-d291-4f1c-a257-cbfac62f9a29",
      "name": "OpenAI2",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1520,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAi account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "chatId": "-1001931064142",
        "text": "={{ $node.OpenAI1.json.message.content }} {{ $node.OpenAI1.json.message.content }}",
        "additionalFields": {}
      },
      "id": "18639205-3ca4-43fe-bdcd-3104c8ce3417",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1540,
        140
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1001931064142",
        "file": "={{ $json.url }}",
        "additionalFields": {}
      },
      "id": "38b956ca-833c-4942-a9f4-6afaae4cf1f1",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1760,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "7"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": [
        13
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-05-13T17:00:00.000Z",
  "versionId": "525c220d-5692-4ae6-9a3c-67b35595ad90"
}