backups/My workflow 4.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-12T16:41:35.544Z",
  "id": "9",
  "name": "My workflow 4",
  "nodes": [
    {
      "parameters": {
        "path": "chp/task_request",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a2de56b7-1684-4c09-b44e-9860fa32ee1e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "webhookId": "6ef0ece0-7c87-41cd-bee3-3ac4709e5708"
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "assistant",
              "content": "={{ $json.body.content_1 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "570196b3-9e9d-4fb7-9eae-3e5d9d3297ec",
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        920,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1001931064142",
        "text": "={{ $json.message.content }}",
        "additionalFields": {}
      },
      "id": "cbe7c845-879a-4507-aa99-17ff6c0c17c1",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1140,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "7"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-05-12T16:45:59.000Z",
  "versionId": "2945ce09-9028-4ac5-85d9-1079ddc27e7d"
}